<!DOCTYPE html>
<html lang="en" ng-app="myBookshelf">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookShelfie</title>
    <!-- Bootstrap css and my own css -->
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="bookCtrl as books" >
    <div class="container full-page">
       <nav class="navbar navbar-fixed-top navbar-bookshelfie animate" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="animbrand">
                        <a class="navbar-brand animate" href="#">BookShelfie</a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-static-top navbar-right">
                        <li class="visible-xs">
                            <form action="#" method="GET" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="q" ng-model="books.search" placeholder="Search for snippets">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                        <button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove"></span></button>
                                    </span>
                                </div>
                            </form>
                        </li>
                        <li><a href="#" class="animate" ng-click="books.toggleAllBooks()">All Books</a></li>
                        <li><a class="animate" href="#" ng-click="books.toggleMyBooks()">My Books</a></li>

                        <li>
                            <a href="#" class="add-project" data-toggle="modal" data-target="#add_project" ng-click="newBook = {title:'',auhtor:'',description:''}; bookForm.$setPristine();">
                                <span class="glyphicon glyphicon-plus-sign"></span> New Book
                            </a>
                        </li>
                        <!--<li><a href="#" class="animate" id="newBook">New Book</a></li>-->
                        <li class="hidden-xs"><a href="#toggle-search" class="animate"><span class="glyphicon glyphicon-search"></span></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="bookshelfie-search animate">
                <div class="container">
                    <form action="#" method="GET" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Search for books" ng-model="books.search">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    
    </div>

    <div class="container content">
      <div class="container books">
        <div class="alert alert-success" id="success-alert">
             <button type="button" class="close" data-dismiss="alert">x</button>
            New book has been added to My Books
        </div>
        <div class="alert alert-success" id="success-nb-alert">
             <button type="button" class="close" data-dismiss="alert">x</button>
            New book has been added to All Books
        </div>
        <div class="alert alert-danger" id="remove-alert">
             <button type="button" class="close" data-dismiss="alert">x</button>
            Book removed from My Books
        </div>
        <div class="all-books" ng-show="books.showAllBooks">
            <div class="row title">
                <h2>All Books</h2>
            </div>

            <div class="row book-results">
                <div class="col-sm-3" ng-repeat="book in books.data | filter: books.search" >
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5 class="book-title">{{ book.book_details[0].title }}</h5>
                                <p class="book-desc"><strong>Description: </strong> {{book.book_details[0].description }} </p>
                                <p><strong>Author: </strong>{{book.book_details[0].author }}</p>
                                <button class="btn btn-book btn-primary text-center book-add" ng-click="book.selected = true">Add</button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <div class="my-books" ng-show="books.showMyBooks">
            <div class="row title">
                <h2>My Books</h2>
            </div>
            <div class="row book-results">
                <div class="col-sm-3" ng-repeat="book in books.data | filter: books.search" ng-if="book.selected">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-12 center-block">
                                <h5 class="book-title">{{ book.book_details[0].title }}</h5>
                                <p><strong>Author: </strong>{{book.book_details[0].author }}</p>
                                <p class="book-desc"><strong>Description: </strong> {{book.book_details[0].description }} </p>
                                <button class="btn btn-book btn-danger book-remove" ng-click="book.selected = null">Remove</button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>


          <!-- Modal -->
            <div id="add_project" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <form  name="bookForm" ng-submit="submitForm()" novalidate>

                            <div class="modal-header ">
                                <button type="button" class="close" data-dismiss="modal" ng-click="newBook = {title:'',auhtor:'',description:''}; bookForm.$setPristine();
">x</button>
                                <h4 class="modal-title">Add Book</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" ng-class="{ 'has-error' : bookForm.title.$invalid && !bookForm.title.$pristine }">
                                    <input type="text" placeholder="Book Title" name="title" ng-model="newBook.title" ng-minlength="3" required>
                                     <p ng-show="bookForm.title.$error.minlength && !bookForm.title.$pristine" class="help-block">The title must be atleast 3 characters.</p>
                                     <p ng-show="bookForm.title.$invalid && !bookForm.title.$pristine" class="help-block">A title is required.</p>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : bookForm.author.$invalid && !bookForm.author.$pristine }">
                                    <input type="text" placeholder="Book Author" name="author"  ng-model="newBook.author" required>
                                    <p ng-show="bookForm.author.$invalid && !bookForm.author.$pristine" class="help-block">The author is required.</p>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : bookForm.description.$invalid && !bookForm.description.$pristine }">
                                    <textarea placeholder="Book Description" type="text" name="description" ng-model="newBook.description" ng-minlength="6" required></textarea>
                                    <p ng-show="bookForm.description.$error.minlength && !bookForm.title.$pristine" class="help-block">The description must be at least 6 characters</p>
                                    <p ng-show="bookForm.description.$invalid && !bookForm.description.$pristine" class="help-block">A description is required.</p>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel" ng-click="newBook = {title:'',auhtor:'',description:''}; bookForm.$setPristine();" data-dismiss="modal">Close</button>
                                <button type="button" type="submit" class="add-book" ng-click="books.update(newBook);" ng-disabled="bookForm.$invalid" data-dismiss="modal">Save</button>
                            </div>
                         </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
 
       <!-- third party js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Application scripts -->
    <script src="js/interaction.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/books.js"></script>
    <script type="text/javascript" src="js/factories/dataservice.js"></script>

</body>

</html>