<!DOCTYPE html>
<html lang="en" ng-app="myBookshelf" ng-controller="bookCtlr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookShelfie</title>
    <!-- Bootstrap css and my own css -->
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="container full-page">
       <nav class="navbar navbar-fixed-top navbar-bookshelfie animate" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="animbrand">
                        <a class="navbar-brand animate" href="#">BookShelfie</a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="visible-xs">
                            <form action="http://bookshelfie.com/search" method="GET" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="q" placeholder="Search for snippets">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                        <button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove"></span></button>
                                    </span>
                                </div>
                            </form>
                        </li>
                        <li><a href="#" class="animate">All Books</a></li>
                        <li><a class="animate" href="#register">My Books</a></li>

                        <li><a href="#" class="add-project" data-toggle="modal" data-target="#add_project"><span class="glyphicon glyphicon-plus-sign"></span> New Book</a></li>
                        <li><a href="#" class="animate" id="newBook">New Book</a></li>
                        <li class="hidden-xs"><a href="#toggle-search" class="animate"><span class="glyphicon glyphicon-search"></span></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="bookshelfie-search animate">
                <div class="container">
                    <form action="http://bookshelfie.com/search" method="GET" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Search for books">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    
    </div>

    <div class="container content">
      <div class="container books">

            <div class="row title">
                <h2>All Books</h2>
            </div>
            <div class="row all-books">
                <div class="col-sm-3" ng-repeat="book in details">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5 class="book-title">{{ book.book_details[0].title }}</h5>
                                <p class="book-desc"><strong>Description: </strong> {{book.book_details[0].description }} </p>
                                <p><strong>Author: </strong>{{book.book_details[0].author }}</p>
                                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#footy-info" ng-click="list.changeActiveFooty(footy)">Add</button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        

        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" id="closeBtn" onclick="closeNav()">&times;</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
        </div>

          <!-- Modal -->
            <div id="add_project" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header ">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Add Book</h4>
                        </div>
                        <div class="modal-body">
                                    <input type="text" placeholder="Project Title" name="name">
                                    <input type="text" placeholder="Post of Post" name="mail">
                                    <input type="text" placeholder="Author" name="passsword">
                                    <textarea placeholder="Desicrption"></textarea>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="cancel" data-dismiss="modal">Close</button>
                            <button type="button" class="add-book" data-dismiss="modal">Save</button>
                        </div>
                    </div>

                </div>
            </div>

    </div>
 
       <!-- third party js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Application scripts -->
    <script src="js/interaction.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/list.js"></script>
    <script type="text/javascript" src="js/controllers/quiz.js"></script>
    <script type="text/javascript" src="js/factories/dataservice.js"></script>

</body>

</html>